.wrapper {
  width: 1280px;
  position: relative;
}

.cta-button {
  width: 320px;
  background: rgba(198, 40, 40, 0.5);
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 80px;
  bottom: 38px;
}

.cta-button:not([disabled]):hover {
  background: rgba(238, 40, 40, 0.5);
}

.cta-button:disabled {
  cursor: default;
}
