.order-summary-wrapper {
  max-width: 340px;
  position: absolute;
  top: 426px;
  left: 274px;
}

.ty-title {
  font-size: 24px;
  color: #8E0000;
  margin-top: 16px;
}

.order-summary-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.order-summary {
  line-height: 1.2;
}

.order-summary-group {
  display: flex;
  flex-direction: row;
  line-height: 1.2;
}
